form{
    border: 0px solid white;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px, 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.8;
}

.logo{
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar{
    width: 10%;
    border-radius: 50%;
}

.contenedor{
    padding: 5%;
}

span.password{
    float: right;
    padding-top: 16%;
}

body{
    background-size:100%;
}

button a{
    text-decoration: none;
    width: 100%;
}

